</body>
<footer>
  Copyright SS Varshit
  <div class="social">
    <a href="https://www.facebook.com/profile.php?id=100008630349961" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/ssvarshith/" class="fa fa-instagram"></a>
    <a href="https://www.linkedin.com/in/varshit-s-82020817a/" class="fa fa-linkedin"></a>
  </div>
</footer>
</html>
